* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1324px;
  margin: 0 auto;
  padding: 10px 8px;
}

.bg-home {
  position: relative;
  background-color: #0c2135;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  height: 10vh;
}

i {
  color: #fff;
}

.hero h1 {
  box-shadow: 0 -1px 17px -4px rgba(255, 255, 255, 0.45);
  padding: 1px 5px;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  color: #d34040;
  animation: translateY 0.8s infinite alternate-reverse;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.content {
  display: flex;
  flex-direction: row;
}

.primary-content {
  background-color: #090d11;
  width: 20%;
  min-height: 80vh;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
}
.primary-content h2 {
  color: #4c1d95;
  box-shadow: 0 -1px 17px -4px rgba(0, 255, 255, 0.45);
}

.second-content {
  background-color: transparent;
  width: 80%;
  min-height: 80vh;
}

ul li {
  margin: 8px 0;
}
ul a {
  font-size: 24px;
}
ul :hover a {
  transition: color 0.5s;
  color: #b42b2d;
}

section h2 {
  padding-top: 15px;
  padding-left: 32px;
  font-size: 32px;
  color: #4c1d95;
}

.second-content {
  background-color: transparent;
  width: 80%;
  min-height: 80vh;
}

ul li {
  margin: 8px 0;
}
ul a {
  font-size: 24px;
}
ul :hover a {
  transition: color 0.5s;
  color: #b42b2d;
}

section h2 {
  padding-top: 15px;
  padding-left: 32px;
  font-size: 32px;
  color: #4c1d95;
}

.second-content-form {
  width: 90%;
  display: block;
  justify-content: space-between;
}
.second-content-form .form {
  width: 70%;
  height: 410px;
  margin-bottom: 2rem;
  padding: 6px 10px;
  margin-left: 2rem;
  display: flex;
  justify-content: space-around;
}
.second-content-form .form input {
  display: block;
}

.resultado {
  padding: 8px 10px;
  max-width: 60%;
  margin-left: 5%;
  margin-bottom: 20px;
  background-color: #161617;
  width: 40%;
}

.round {
  flex-direction: column;
  flex: 1;
  width: 60%;
  margin-left: 5%;
  margin-top: 10px;
  padding: 10px 15px;
  height: 40vh;
}

.content {
  display: flex;
  background-color: transparent;
}

.primary-content {
  width: 25%;
  height: 100%;
}

.second-content-form {
  width: 90%;
  display: block;
  justify-content: space-between;
}
.second-content-form .form-preemptivo {
  min-width: 70%;
  height: 100%;
  margin-bottom: 2rem;
  padding: 6px 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
}
.second-content-form .form-preemptivo div {
  margin-right: 0.8rem;
}
.second-content-form .form-preemptivo input {
  display: block;
}

.area-results {
  background-color: transparent;
  flex: 1;
}

.listaProcessos {
  padding: 8px 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #161617;
  flex: 1;
  min-height: 30%;
}

.resultados {
  padding: 8px 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #161617;
  flex: 1;
  min-height: 30%;
  display: block;
}

.second-process {
  width: 75%;
  display: block;
  justify-content: space-between;
}

.processForm {
  background-color: #06090c;
  width: 25rem;
  padding: 6px 10px;
  margin-left: 2rem;
}
.processForm input {
  display: block;
}

#executionOrder {
  display: block;
}

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
  color: #fff;
}

a {
  color: #eef2ff;
}

h1 {
  font-family: "Sora", sans-serif;
}

.btn-button {
  margin: 8px auto;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.btn-button:hover {
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.7);
}

h3 {
  color: #008000;
}

input {
  display: block;
  height: 30px;
}/*# sourceMappingURL=style.css.map */